.root {
    max-width: 100%;
    border-radius: 12px;
}

.header1 {
    padding-top: 50px;
    padding-left: 50px
}

.header2 {
    padding-left: 50px;
}

.title {
    margin: auto;
    padding-top: 7px;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.avatar {
    background-color: red;
    
}