.card-img-overlay-single {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
}

.overlaytext {
	position: absolute;
	bottom: 10%;
}

.overlaytext .card-title {
	font-size: 1.4rem;
}

.overlaytext .card-text {
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}

.overlaytext .card-text .MuiAvatar-root {
	margin-right: 10px !important;
}

/* this is for markdown */
.singleblog .blog_card div p img {
	width: 100%;
	height: auto;
}

.singleblog .blog_card div p {
	font-size: 18px;
	margin: 20px 0 40px 0;
}

@media (min-width: 700px) {
	.blogpage .card .card-img-top {
		border: none;
		height: 70vh;
		object-fit: cover;
	}

	.overlaytext {
		position: absolute;
		right: 10%;
		left: 10%;
		bottom: 10%;
	}

	.overlaytext .card-title {
		font-size: 2rem;
	}

	/* .singleblog {
		padding: 40px 250px;
	} */
}

@media (min-width: 1500px) {
	.singleblog {
		padding: 10px 15rem;
	}
}

@media (max-width: 700px) {
	.singleblog {
		display: flex;
		flex-direction: column;
	}
}
